html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #ECEFF1
}

h1 {
  font-weight: 200;
}

.bold {
  font-weight: 500;
}

h3 {
  font-weight: 100;
}

p {
  font-weight: 100;
}

.card {
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 25px 25px 25px 25px;
  margin: 20px 20px 20px 20px;
}

.card h1 {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

nav ul li {
  display: block;
}

#material-nav {

  box-shadow: 0 3px 6px rgba(0,0,0,0.16);

}

#material-nav {
  width: 100%;
  background-color: #1A237E;
  height: 64px;
}

.material-nav-link {
  text-decoration: none;
  color: white;
  height: 64px;
  vertical-align: center;
  width: 100px;
  line-height: 64px;
  font-size: 24px;
  float:right;
}

#material-nav .title {
  text-decoration: none;
  color: white;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  margin-left: 20px;
  float: left;
}

.active-block {
  height: 5px;
  background-color: white;
}
