#material-nav {
  width: 100%;
  background-color: #1A237E;
  height: 64px;
}

.material-nav-link {
  text-decoration: none;
  color: white;
  float:right;
}

#material-nav .title {
  text-decoration: none;
  color: white;
  float: left;
}

#story-page-content {
  max-width: 1000px;
  margin: 0 auto;
}

#storyPage .card .right-block {
  float: right;
}

#storyPage .card .left-block {
  float: left;
}


.experience {
  transition: all 200ms linear;
}

.experience.closed {
  transform: scale(1.0);
}

.experience.open {
  transform: scale(1.05);
}

.experience:hover {
  transform: scale(1.05);
}

.description {
  transition: all 200ms linear;
  overflow: hidden;
}


.description.closed {
  /*max-height: 0px;*/
  transform-origin: top;
}

.description.open {
  /*max-height: 100px;*/
  transform-origin: top;
}
